<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Lista Pracownikow</h2>
        
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>E-mail</th>
                    <th>Akcje</th>
                </tr>
                <tbody>
                    <% for (let emp of emps) { %>
                        <tr>
                            <td><%= emp.firstName %></td>
                            <td><%= emp.lastName %></td>
                            <td><%= emp.email %></td>
                            <td>
                                <ul class="list-actions">
                                   
                                    <li><a href="/employees/details/<%=emp._id%>" class="list-actions-button-details">Szczegóły</a></li>
                                    <li><a href="/employees/edit/<%=emp._id%>" class="list-actions-button-edit">Edytuj</a></li>
                                    <li><a href="/employees/delete/<%=emp._id%>" class="list-actions-button-delete">Usuń</a></li>
                                </ul>
                            </td>
                        </tr>
                    <% } %>
                    </tbody>

            </thead>
        </table>

              
    </main>
   
    
    <footerExtension>
        <p><a  href="/employees/add"  class="form-button-submit">Dodaj nowego pracownika</a></p>
    </footerExtension>
    <%- include('../../fragments/footer.ejs') %>


<!-- 
    <table class="table-list">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Akcje</th>
            </tr>
        <tbody>
            <tr>
                <td>Jan</td>
                <td>Kowalski</td>
                <td>jan.kowalski@rozek.whc.com</td>
                <td>
                    <ul class="list-actions">
                        <li >
                            <a href="employees/details/1"class="list-actions-button-details" >Szczegóły</a>
                        </li>
                        <li >
                            <a href="employees/edit/1" class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li >
                            <a href="" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>

           Tu wstaw dodatkowe wiersze
        </tbody>
        </thead>
    </table> -->
