<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista Departamentów</h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Budżet</th>
                <th>Akcje</th>
            </tr>
            <tbody>
                <% for (let dept of depts) { %>
                    <tr>
                        <td><%= dept.name %></td>
                        <td><%= dept.budget %></td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/departments/details/<%=dept._id%>" class="list-actions-button-details">Szczegóły</a></li>
                                <% if(loggedUser) { %>
                                    <% if(loggedUser.accessLevel>1) { %>
                                <li><a href="/departments/edit/<%=dept._id%>" class="list-actions-button-edit">Edytuj</a></li>
                                <li><a href="/departments/delete/<%=dept._id%>" class="list-actions-button-delete">Usuń</a></li>
                                <% } %>
                                <% } %>
                            </ul>
                        </td>
                    </tr>
                <% } %>
                </tbody>

        </thead>
    </table>


           
</main>


<footerExtension>
    <p><a  href="departments/add" class="form-button-submit">Dodaj nowy dział</a></p>
</footerExtension>
<%- include('../../fragments/footer.ejs') %>
