<%- include('../../fragments/header.ejs') %>

<main>
    <!-- PO CO TO SKORO NIE DZIALA ????? -->
    <script type="application/javascript" src="/js/validationDeptForm.js"></script>
    <h2><%= pageTitle %></h2>
        
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
          
          
            <input type="hidden" name="_id" value="<%= dept._id %>">
    
            <label for="name">Nazwa:<abbr title="required" aria-label="required">*</abbr></label>   
            <input type="text" name="name" id="name" placeholder="2-60 znaków" value="<%= dept.name %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorDepartmentName" class="errors-text"></span>
          
            <label for="budget">Budżet:<abbr title="required" aria-label="required">*</abbr></label>   
            <input type="text" name="budget" id="budget" placeholder="np. 10 000" value="<%= dept.budget %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorDepartmentBudget" class="errors-text"></span>

            <div class="form-buttons" >
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode == 'showDetails') { %>
                    <div class="section-buttons">
                        <a href="/departments/edit/<%= dept._id %>" class="form-button-edit">Edytuj</a>
                    </div>
                <% } %>
                <!-- <input type="submit" value="Dodaj" class="form-button-submit" />    -->
                <% if (formMode != 'showDetails') { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                    <a class="form-button-cancel" href="/departments">Anuluj</a>
                <% } else { %>
                    <a class="form-button-cancel" href="/departments">Powrót</a>
                <% } %>
            </div>
        
          
    </form>
    <% if (formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>
           Lista zatrudnionych w departamencie <%= dept.name %>
        </h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Pensja</th>
                <th>Data od</th>
                <th>Data do</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <% for (let e of dept.employments) { %>
                <tr>
                    <td><a href="/employees/details/<%= e.employee._id %>"><%= e.employee.firstName %></a></td> 
                    <td><%= e.employee.lastName %></td> 
                    <td><%= e.salary %></td>
                    <td><%= e.dateFrom.toISOString().split('T')[0] %></td> 
                    <td><%= e.dateTo ? e.dateTo.toISOString().split('T')[0] : '' %></td>
                    <td>Brak akcji</td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
    
    


<%- include('../../fragments/footer.ejs') %>



