
<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Aktualna lista zamowien</h2>

    <table class="table-list">
        <thead>
            <tr>
                <th>NrZamowienia</th>
                <th>Opis</th>
                <th>Wartosc</th>
                <th>Przypisany Pracownik</th>
                <th>Zamowienie przyjeto do realizacji</th>
                <th>Zamowienie zakonczono</th>
                <th>Akcje</th>
            </tr>
        <tbody>
                
            <% for (let makeOrderEmployeeSC of makeOrderEmployeeSCs ) { if(makeOrderEmployeeSC.dateTo==null){%>
                
<!-- chuj wie jak to zrobic nie 
    rob [i] bo wtedy wyciagasz nie pokolei i 
    mozesz trafic w puste miejsce w tablicy -->
    
            <tr>
                
                <td><%= makeOrderEmployeeSC.order.name %></td>
                <td><%= makeOrderEmployeeSC.order.description %></td>
                <td><%= makeOrderEmployeeSC.orderValue %></td>
                <td><%= makeOrderEmployeeSC.employee.firstName + " " + makeOrderEmployeeSC.employee.lastName %></td>
                <td><%= makeOrderEmployeeSC.order.dateArrival.toISOString().split('T')[0]  %></td>
                <td>
                    <%  if(makeOrderEmployeeSC.dateTo==null){ %>
                    trwa nadal
                        <%   }
                    else{%>
                        <%= makeOrderEmployeeSC.dateTo ? makeOrderEmployeeSC.dateTo.toISOString().split('T')[0] : '' %>
                        <% } %>    
                </td>

                <td>
                    <ul class="list-actions">
                        <li><a href="/makeOrderEmployees/details/<%=makeOrderEmployeeSC._id%>"
                                class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/makeOrderEmployees/edit/<%=makeOrderEmployeeSC._id%>"
                                class="list-actions-button-edit">Edytuj</a></li>
                        <li><a href="/makeOrderEmployees/delete/<%=makeOrderEmployeeSC._id%>"
                                class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
            
            <%} } %>
        </tbody>
        </thead>
    </table>
    <br>
    <br>
    <h2>Zakończona lista zamowien</h2>
    <label for="opis"> To jest archiwum zamowien. Były one w przeszłości ale zostaly juz wykonane. </label>

    <table class="table-list">
        <thead>
            <tr>
                <th>NrZamowienia</th>
                <th>Opis</th>
                <th>Wartosc</th>
                <th>Przypisany Pracownik</th>
                <th>Zamowienie przyjeto do realizacji</th>
                <th>Zamowienie zakonczono</th>
                <th>Akcje</th>
            </tr>
        <tbody>
                
            <% for (let makeOrderEmployeeSC of makeOrderEmployeeSCs ) { if(makeOrderEmployeeSC.dateTo!=null){%>
                
<!-- **** wie jak to zrobic nie 
    rob [i] bo wtedy wyciagasz nie pokolei i 
    mozesz trafic w puste miejsce w tablicy -->
    
    <tr>
                
        <td><%= makeOrderEmployeeSC.order.name %></td>
        <td><%= makeOrderEmployeeSC.order.description %></td>
        <td><%= makeOrderEmployeeSC.orderValue %></td>
        <td><%= makeOrderEmployeeSC.employee.firstName + " " + makeOrderEmployeeSC.employee.lastName %></td>
        <td><%= makeOrderEmployeeSC.order.dateArrival.toISOString().split('T')[0]  %></td>
        
        <td><%= makeOrderEmployeeSC.dateTo ? makeOrderEmployeeSC.dateTo.toISOString().split('T')[0] : '' %></td>
        <td>
            <ul class="list-actions">
                <li><a href="/makeOrderEmployees/details/<%=makeOrderEmployeeSC._id%>"
                        class="list-actions-button-details">Szczegóły</a></li>
                <li><a href="/makeOrderEmployees/edit/<%=makeOrderEmployeeSC._id%>"
                        class="list-actions-button-edit">Edytuj</a></li>
                <li><a href="/makeOrderEmployees/delete/<%=makeOrderEmployeeSC._id%>"
                        class="list-actions-button-delete">Usuń</a></li>
            </ul>
        </td>
    </tr>
    
    <%} } %>
        </tbody>
        </thead>
    </table>
    
    
</main>


<footerExtension>
    <p><a href="/makeOrderEmployees/add" class="form-button-submit">Dodaj nowe zatrudnienie</a></p>
</footerExtension>
<%- include('../../fragments/footer.ejs') %>

